<template>
    <div class="container">
        <p class="">Oops!</p>
        <p class="">404 Error</p>
        <p class="">The page you are looking for does not exist</p>
        Go Back Home
        
    </div>
  </template>
  
  <script>
  export default {
    name: 'PageNotFound',
  
    data () {
      return {
  
      }
    }
  }
  </script>
  
  <style lang="css" scoped>
  </style>
  